@import './variables.scss';

main {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 24px 0;

  font-family: $font-Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #a9a9a9;

  &>a {
    font-weight: 700;
    color: #a9a9a9;
  }
}